<% if @friend %>

	<p>Do you really want to friend <%= @friend.full_name %>?</p>

	<%= simple_form_for @user_friendship, method: :post do |f| %>

		<div class="form form-actions">		
		
			<%= f.hidden_field :friend_id, value: @friend.id %>
			<%#= f.button :submit #=> This creates a User_friendship %>
			<%= submit_tag "Yes, Add Friend", class: "btn btn-primary" %>
			<%= link_to "Cancel", profile_path(@friend.profile_name), class: 'btn' %>
		
		</div>

	<% end %>
	

<% end %>