<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar" role="naviagation">
	<div class="container">
		<ol class = "breadcrumb">
			<li><%= link_to "Treebook", root_path %></li>
			<li><%= link_to "Statuses", statuses_path %></li>




			<% if current_user != nil %>
				<li class = "pull-right"><%= link_to "Welcome, " + current_user.full_name + "!", edit_user_registration_path %></li>
				<li class = "pull-right"><%= link_to "Sign Out", logout_path, method: :delete %></li>
			<% elsif %>
				<li class = "pull-right"><%= link_to "Sign In", login_path %></li>
				<li class = "pull-right"><%= link_to "Register", register_path %></li>
			<% end %>
		
		</ol> 

		<% flash.each do |type, message| %>
			<div class = "alert <%= flash_class(type) %>">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true"> x </button>
				<%= message %>
			</div>
		<% end %>
	
		<%= yield %>
	</div>
</nav>


</body>
</html>
