<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar" role="naviagation">
	<div class="container">
		<ol class = "breadcrumb">
			<li><a href="#"> Treebook </a></li>
			<li><%= link_to "Statuses", statuses_path %></li>
			<li><a href="#"> Users </a></li>
		</ol>
		
		<p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

		<%= yield %>
	</div>
</nav>


</body>
</html>
